@import "./bootstrap";

.configs {
  display: flex;
  gap: 10px;
}

.stocks {
  display: flex;
  overflow-x: auto;
  gap: 5px;
  margin: 10px auto;
  padding-bottom: 10px;

  > .stock-card {
    >h4 {
      font-size: 16px;
    }

    > small {
      font-size: 13px;
    }

    > img {
      width: 75px;
      height: 75px;
    }

    > .info {
      display: none;
    }
  }
}

.chart {
  width: 60vw;
  border: 5px solid #dee2e6 !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
}